html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 2;
}

body,
footer,
main {
  margin: 0px;
  padding: 0px;
  background-color: rgb(230, 243, 243);
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  font-size: 20px;
  
  box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
  }

#menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px 60px;

}

ul {
  padding: 0;
}

.loc {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#content {
  background-color: #fff;
}

.start {
  margin: 0 auto;
  padding-top: 50px;
}

#start {
  display: flex;
  justify-content: space-between;
}

.section {
  border: 1px solid rgb(205, 231, 231);
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  padding-left: 20px;
  background-color: rgb(213, 241, 241);
  box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

h1,
h2 {
  margin-top: -25px;
  padding: 0px;
}

.photo {
  width: 260px;
  margin-top: -40px;
  margin-right: 40px;
  border-radius: 100%;
  border: 5px solid rgb(43, 168, 168);
  box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

footer {
  width: 100%;
  background-color: rgb(117, 118, 119);
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  
}

a {
  text-decoration:none;
  color: rgb(109, 108, 108);
 }
 a:hover {
  text-decoration:  none;
  color: rgb(48, 47, 47);
 }

 .github {
  width: 100px;
 }

 #footer {
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding: 10px;
}
